.u-hover-trans {
    transition: opacity 0.3s ease;
}
.u-hover-trans:hover {
    opacity: 0.7;
}
.c-button{
    padding: 12px 32px;
    background-color: #2DB24A;
    border-radius: 32px;
    display: flex;
    align-items: center;
    gap: 12px;
}
.c-item-form{
    padding: 12px 0 12px 18px;
    border: 1px solid #E6E8EB;
}