
*,
*::before,
*::after {
    box-sizing: border-box;
}
:root {
    --font-primary: 'Barlow', sans-serif;      
    --fs-h1: clamp(28px, 4vw, 48px);      
    --fs-h2: clamp(24px, 3vw, 36px);      
    --fs-h3: clamp(18px, 2vw, 24px); 
    --fs-desc: clamp(16px, 1.5vw, 20px);
    --fs-sub: clamp(22px, 2.8vw, 32px);
}
body {  
    scroll-behavior: smooth;
    font-family: var(--font-primary);
    width: 100%;
}
.l-wrapper:nth-child(n){
    width: min(1320px, calc(100% - 64px));
    margin: 0 auto;
}
.l-header .l-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 24px 0;
}
.l-header__nav{
    display: flex;
    justify-content: space-between;
}
.l-header__nav-list{
    display: flex;
    gap: 24px;
    align-items: center;
}
.l-header__nav-link:hover{
    font-weight: 600;
    color: #FFFFFF;
}
.l-header__nav-item:first-child .l-header__nav-link{
    font-weight: 600;
    color: #FFFFFF;
}
.l-header__nav-link{
    font-size: 16px;
    font-weight: 500;
    line-height: calc(24/16);
    color: #87909D;
    padding: 12px 0;
    white-space: nowrap;
}
.l-header__nav-call{
    padding: 0 32px;
}
.l-header__nav-link-number{
    font-weight: 600;
    line-height: calc(48/16);
    color: #FFFFFF;
    white-space: nowrap;
}
.p-section-hero{
    position: relative;
    overflow: visible;
    max-height: 1000px;
}
.p-section-hero::before{
    content: "";
    background-image: url(/assets/images/p-section-hero__top-bg.svg);
    position: absolute;
    top: -96px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-repeat: no-repeat;
}
.p-section-hero__top{
    width: 100%;
}
.p-section-hero__top .l-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 148px 0 424px 0;
}
.p-section-hero__top-title{
    font-size: var(--fs-h1);
    color: #FFFFFF;
    font-weight: 400;
    line-height:  calc(56/48);
    width: calc(536/1320 *100%);
}
.p-section-hero__top-content{
    width: calc(536/1320 *100%);
}
.p-section-hero__top-text{
    font-size: var(--fs-desc);
    color: #C3C7CE;
    line-height: calc(28/20);
    font-weight: 400;
    margin-bottom: 32px;
}
.p-section-hero__top-list{
    display: flex;
    gap: 16px;
}
.p-section-hero__top-link{
    padding: 0 32px;
    border: 2px solid #FFFFFF;
    background-color: transparent;
}
.p-section-hero__top-link:hover{
    background-color: #2DB24A;
    border: 2px solid #2DB24A;
}
.p-section-hero__top-link-button{
    color: #FFFFFF;
     font-weight: 600;
     font-size: 16px;
     line-height: calc(48/16);
}
.p-section-hero__photos{
    width: 100%;
    transform: translateY(-273px);
}
.p-section-hero__photos-list{
    display: flex;
    gap: 24px;
    overflow: hidden;
}
.p-section-hero__photos-item{
    width: 100%;
    position: relative;
    overflow: hidden;
}

.p-section-hero__photos-item::before{
    content: "";
    display: block;
    padding-top: calc( 424/312 * 100%);  
}
.p-section-hero__photos-image{
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;  
}
.p-section-hero__photos-item:first-child{
    margin-left: -36px;
}
.p-section-hero__photos-item:last-child{
    margin-right: -36px;
}
.p-section-hero__photos-item:nth-child(2n-1){
    margin-bottom: 64px;
}
.p-section-hero__photos-item:nth-child(2n){
    margin-top: 64px;
}
.p-section-about{
    box-shadow: 0 1px 0 0 #E6E8EB;
    width: 100%;
}
.p-section-about .l-wrapper{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 100px;
}
.p-section-about__content{
    width: calc(536/1320*100%);
}
.p-section-about__photo{
   width: calc(648/1320*100%); 
}
.p-section-about__content-job{
    display: flex;
    gap: 16px; 
}
.p-section-about__content-job-item{
    font-size: 16px;
    font-weight: 500;
    line-height: calc(24/16);
    margin-bottom: 12px;
}
.p-section-about__content-subtitle{
    font-size: var(--fs-h2);
    line-height: calc(44/36);
    color: #132238;
    margin-bottom: 24px;
}
.p-section-about__content-description{
    font-size: 16px;
    line-height: calc(24/16);
    color: #556070;
    margin-bottom: 32px;
}
.p-section-about__content-bottom{
    display: flex;
    gap: 24px;
}
.p-section-about__content-bottom-button{
    padding: 0 32px;
}
.p-section-about__content-bottom-button-text{
    font-size: 16px;
    font-weight: 600;
    line-height: calc(48/16*100%);
    color: #FFFFFF;
}
.p-section-about__content-bottom-list{
    display: flex;
    gap: 8px;
}
.p-section-about__content-bottom-item{
    width: 100%;
    padding: 0 16px;
    height: 100%;
    border: 2px solid #EAF7ED;
    border-radius: 100px;
}
.p-section-about__content-bottom-link-icon{
    width: 100%;
    height: 100%;
}
.p-section-about__photo{
    position: relative;
}
.p-section-about__photo-funfact{
    box-shadow: 0 16px 48px 0 rgba(0, 0, 0, 0.05);
    background-color: #FFFFFF;
    position: absolute;
    top: 36px;
    left: 36px;
}
.p-section-about__photo-item{
    margin: 24px 24px 0 24px;
    padding-bottom: 20px;
    border-bottom: 1px solid #E6E8EB;
}
.p-section-about__photo-item:last-child{
    border-bottom: none;
}
.p-section-about__photo-item-top{
    font-size: var(--fs-desc);
    font-weight: 600;
    line-height: calc(32/24);
    color:#132238 ;
    margin: 0 0 4px 0;
}
.p-section-about__photo-item-bottom{
    font-size: 14px;
    color: #424E60;
    line-height: calc(20/14);
}
.p-section-gallery{
    box-shadow: 0 1px 0 0 #E6E8EB;
}
.p-section-gallery__heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0 50px 0;
}
.p-section-gallery__heading-subtitle{
    font-size: var(--fs-h2);
    font-weight: 400;
    line-height: calc(44/36);
    color: #132238;
    margin-bottom: 20px;
}
.p-section-gallery__heading-description{
    color: #424E60;
    font-size: 16px;
    line-height: calc(24/16);
}
.p-section-gallery__heading-button{
    display: flex;
    background-color: #FFFFFF;
    border: 2px solid #2DB24A;
    padding: 0 32px;
}
.p-section-gallery__heading-link{
    color: #2DB24A;
    font-size: 16px;
    line-height: calc(48/16);
    font-weight: 600;
}
.p-section-gallery__list{
    display: grid;
    grid-template-columns: 424px 536px 312px;
    gap: 24px;
}
.p-section-gallery__column-first{

}
.p-section-gallery__column-first-item{
    margin-bottom: 24px;
}
.p-section-gallery__column-first-item:last-child{
    margin-bottom: 0;
}
.p-section-gallery__column-second-item:first-child{
    margin-bottom: 24px;
}
.p-section-gallery__column-third-item{
    margin-bottom: 24px;
}
.p-section-gallery__column-third-item:last-child{
    margin-bottom: 0;
}
.p-section-gallery__photos{
    padding-bottom: 100px;
}
.p-section-services .l-wrapper{

}
.p-section-services__subtitle{
    margin: 100px 0 50px 0;
    font-size: var(--fs-h2);
    line-height: calc(44/36);
    color: #132238;
}
.p-section-services__description{
    font-style: 16px;
    line-height: calc(24/16);
    color: #424E60;
}
.p-section-services__section{
    margin: 50px 0 100px 0;
    display: flex;
    justify-content: space-between;
}
.p-section-services__section-card{
    width: calc(536/1320 *100%);
}
.p-section-services__section-card-item{
    border: 1px solid #E6E8EB;
    padding: 32px 32px 32px 96px;
}
.p-section-services__section-card-item-subtitle{
    font-size: var(--fs-desc);
    color: #132238;
    font-weight: 500;
    line-height: calc(28/20);
    margin-bottom: 12px;
}
.p-section-services__section-card-item-description{
    font-size: 16px;
    color: #424E60;
    line-height: calc(24/16);
    margin: 0;
}
.p-section-services__section-photos{
    display: flex;
    width: calc(648/1320*100%);
    gap:24px;
}
.p-section-services__section-photos-item{
    width: 100%;
    position: relative;
    overflow: hidden;
}
.p-section-services__section-photos-item::before{
    content: "";
    padding-top: calc(504/312 *100%);
    display: block;
}
.p-section-services__section-photos-image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.p-section-plans .l-wrapper{

}
.p-section-plans__subtitle{

}
.p-section-plans__list{

}
.p-section-plans__item{

}
.p-section-plans_item-top{

}
.p-section-plans__item-price{

}
.p-section-plans_item-recommended{
    
}
.p-section-plans__item-feature{

}
.p-section-plans__item-description{

}
.p-section-plans__list-feature{

}
.p-section-plans__item-feature{

}
.p-section-plans__item-button{

}
.p-section-plans__item-button-text{

}
.p-section-plans__item-button-icon{

}